

.App {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightgreen;
  /*margin-top: 50px;*/
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h1 {
  font-size: 3rem;

}
.display {
  background-color: black;
  color: white;
  width: 90%;
  text-align: center;
  font-size: 18rem;
  border-radius: 5rem;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 50px;

}
.input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.start-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.start-btn {
  background-color: yellow;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: 2px 2px 4px black;
  border-radius: 1rem;
  border: none;
}
.input-btn input{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.input-btn button {
  background-color: aqua;
  font-size: 1.5rem;
}






